<div class="main">
  
    <section class="box-dcha no_padding">
        <h4>Login DDrop</h4>
        <form (submit)="login()" autocomplete="off" [formGroup]="formularioLogin">
            <div class="box-form">
                <div class="margin20px">
                    <label for="email">Email</label>
                    <input type="email" name="email" formControlName='email'>
                </div>
                <div class="margin20px">
                    <label for="password">Password</label>
                    <input type="password" name="password" formControlName='password'>
                </div>
                <div class="margin20px">
                    <input class="boton-login" type="submit" value="Entrar">
                </div>
                
            </div>
        </form>

        <span class="cuenta">¿No tienes cuenta?, regístrate <a routerLink='/register'>aquí</a></span>
        <hr>
        <button class="google" id="customBtn">
            <div class="img-google"><img src="../../../assets/images/google.png" alt=""><span id="logadoGoogle">Login
                    con Google</span> </div>
        </button>
        <app-error-card [error]="error"></app-error-card>

    </section>
</div>