.custom-dropzone{
    width: 70vw!important;
    height: 60vh!important;   
    border-radius: 5px!important;
    background-color: #130F26!important;
    border: none!important;
    align-self: center;
}

.oculto{
    display: none;
}