<div class="box-izq">
   
    <div class="tech ngx-dz-hovered custom-dropzone" ngx-dropzone [expandable]="true" (change)="onSelect($event)">
       <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label style="overflow:hidden">{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-preview>
        <img id="php" src="../../../assets/images/php.png" alt="">
        <img id="ncube" src="../../../assets/images/nCube.png" alt="">
        <img id="css" src="../../../assets/images/css.png" alt="">
        <img id="git" src="../../../assets/images/git.png" alt="">
        <img id="mysql" src="../../../assets/images/mySql.png" alt="">
        <img id="python" src="../../../assets/images/python.png" alt="">
        <img id="sass" src="../../../assets/images/sass.png" alt="">
        <img id="ts" src="../../../assets/images/ts.png" alt="">
        <img id="vue" src="../../../assets/images/vue.png" alt="">
        <img id="if" src="../../../assets/images/if.png" alt="">
        <h1>ARRASTRA TUS ARCHIVOS AQUÍ</h1>
        <div #lista_archivos_subidos>
            
        </div>
        <app-error-card [error]="error"></app-error-card>
    </div>
    
    <input class="boton" type="button" value="Subir Archivos" (click)="subirArchivos()">  
</div>    
      