<div class="box-izq">
    <div class="tech">
        <img id="php" src="../../../assets/images/php.png" alt="">
        <img id="ncube" src="../../../assets/images/nCube.png" alt="">
        <img id="css" src="../../../assets/images/css.png" alt="">
        <img id="git" src="../../../assets/images/git.png" alt="">
        <img id="mysql" src="../../../assets/images/mySql.png" alt="">
        <img id="python" src="../../../assets/images/python.png" alt="">
        <img id="sass" src="../../../assets/images/sass.png" alt="">
        <img id="ts" src="../../../assets/images/ts.png" alt="">
        <img id="vue" src="../../../assets/images/vue.png" alt="">
        <img id="if" src="../../../assets/images/if.png" alt="">
        <h1>ARRASTRA TUS ARCHIVOS AQUÍ</h1>
    </div>
    
    <input class="boton" type="button" value="Subir Archivos">  
</div>    
      