<div class="main">
<!--    <section class="box-izq">
        <div>
            <div class="tech">
                <img id="php" src="../../../assets/images/php.png" alt="">
                <img id="ncube" src="../../../assets/images/nCube.png" alt="">
                <img id="css" src="../../../assets/images/css.png" alt="">
                <img id="git" src="../../../assets/images/git.png" alt="">
                <img id="mysql" src="../../../assets/images/mySql.png" alt="">
                <img id="python" src="../../../assets/images/python.png" alt="">
                <img id="sass" src="../../../assets/images/sass.png" alt="">
                <img id="ts" src="../../../assets/images/ts.png" alt="">
                <img id="vue" src="../../../assets/images/vue.png" alt="">
                <img id="if" src="../../../assets/images/if.png" alt="">
                <h1>ARRASTRA TUS ARCHIVOS AQUÍ</h1>
            </div>
        </div>
    </section>-->
    <section class="box-dcha no_padding">
        <h4>Registarse en DDrop</h4>
        <form (ngSubmit)="crearUsurio()"
                autocomplete="off"
                [formGroup]="formularioRegistro">
            <div class="box-form">
                <div class="box-input">
                    <label for="nombre">Nombre</label>
                    <input type="text" 
                           name="nombre" 
                           
                           formControlName="nombre">
                </div>
                <div class="columna" *ngIf="!campoNoValido('nombre')">
                    <div class="fila rojo">
                        <p >
                            El nombre es obligatorio
                        </p>
                    </div>
                </div>
                <div class="box-input">
                    <label for="email">Email</label>
                    <input type="email" 
                           name="email" 
                           
                           formControlName="email">
                </div>
                <div class="columna">
                    <div class="fila rojo">
                        <p *ngIf="!campoNoValido('email')">
                            El email es obligatorio
                        </p>
                    </div>
                </div>
                <div class="box-input">
                    <label for="password">Password</label>
                    <input type="password" 
                           name="password" 
                           
                           formControlName="password">
                </div>
                <div class="columna">
                    <div class="fila rojo">
                        <p *ngIf="!campoNoValido('password')">
                            El password es obligatorio
                        </p>
                    </div>
                </div>
                <div class="box-input">
                    <label for="conf-password">Confirmar password</label>
                    <input type="password" 
                           name="password2" 
                           
                           formControlName="password2">
                </div>
                <div class="columna">
                    <div class="fila rojo">
                        <p *ngIf="passwordsIguales()">
                            Los password han de ser iguales
                        </p>
                    </div>
                </div>
                <div class="box-input">
                    <input class="boton-login" type="submit" value="Registrar">
                </div>
                
            </div>
        </form>
       
        <span class="cuenta">¿Ya tienes cuenta?, accede<a routerLink='/login'> aquí</a></span> 
        <hr>
        <button class="google">
            <div class="img-google"><img src="../../../assets/images/google.png" alt="">Login con Google</div>
        </button>

        <app-error-card [error]="error"></app-error-card>        
    </section>
</div>
