<div class="main">

    <section class="box-dcha no_padding">
        <h4>Registarse en DDrop</h4>
        <form (ngSubmit)="crearUsurio()"
                autocomplete="off"
                [formGroup]="formularioRegistro">
            <div class="box-form">
                <div class="margin20px">
                    <label for="nombre">Nombre</label>
                    <input type="text" 
                           name="nombre" 
                           
                           formControlName="nombre">
                </div>
                <div class="columna" *ngIf="!campoNoValido('nombre')">
                    <div class="fila rojo">
                        <p >
                            El nombre es obligatorio
                        </p>
                    </div>
                </div>
                <div class="margin20px">
                    <label for="email">Email</label>
                    <input type="email" 
                           name="email" 
                           
                           formControlName="email">
                </div>
                <div class="columna">
                    <div class="fila rojo">
                        <p *ngIf="!campoNoValido('email')">
                            El email es obligatorio
                        </p>
                    </div>
                </div>
                <div class="margin20px">
                    <label for="password">Password</label>
                    <input type="password" 
                           name="password" 
                           
                           formControlName="password">
                </div>
                <div class="columna">
                    <div class="fila rojo">
                        <p *ngIf="!campoNoValido('password')">
                            El password es obligatorio
                        </p>
                    </div>
                </div>
                <div class="margin20px">
                    <label for="conf-password">Confirmar password</label>
                    <input type="password" 
                           name="password2" 
                           
                           formControlName="password2">
                </div>
                <div class="columna">
                    <div class="fila rojo">
                        <p *ngIf="passwordsIguales()">
                            Los password han de ser iguales
                        </p>
                    </div>
                </div>
                <div class="margin20px">
                    <input class="boton-login" type="submit" value="Registrar">
                </div>
                
            </div>
        </form>
       
        <span class="cuenta">¿Ya tienes cuenta?, accede<a routerLink='/login'> aquí</a></span> 
        

        <app-error-card [error]="error"></app-error-card>        
    </section>
</div>
