@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Montserrat&family=Roboto&display=swap');


body{
    
    background-color: #130F26;
    color: white;
    font-family: Montserrat;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: center;  
    align-items: center;
    }
.tech{
    position: relative;
    width: 822px;
    height: 597px;   
    border-radius: 5px;
    background-color: #130F26;
    box-shadow: 0px 0px 90px 0px #569b51;
}

#php{
    top: 530px;
    left: 627px;
    position: absolute;
}
#ncube{
    top: 170px;
    left: 745px;
    position: absolute;
}
#python{
    top: 340px;
    left: 750px;
    position: absolute;
}
#ts{
    top: 510px;
    left: 300px;
    position: absolute;
}
#sass{
    top: 30px;
    left: 680px;
    position: absolute;
}
#css{
    top: 163px;
    left: 164px;
    position: absolute;
}
#git{
    top: 82px;
    left: 542px;
    position: absolute;
}
#vue{
    top: 113px;
    left: 323px;
    position: absolute;
}
#mysql{
    top: 508px;
    left: 91px;
    position: absolute;
}
#if{
    top: 34px;
    left: 57px;
    position: absolute;
}
.modal{
    background-color: #232730;
    width: 100%;
    height: 305px; 
      
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    font-family: Montserrat;
    font-size: 40px;    
    letter-spacing: 0.4px;
    line-height: 100%;
    position: absolute;
    left: 80px;
    top: 299px;
    color: white;
}

.box-izq{        
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.boton{
    width: 822px;
    height: 56px;
    background-color: #569b51;
    color: white;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.4px;
    border-radius: 5px;    
    padding: 0px;
    margin: 0px;
    border: none;
    margin-top: 80px;
}
.box-dcha{        
    display: flex;
    flex-direction: column;   
    align-items: center;   
    margin-left: 50px; 
        
}
h4{
    font-size: 34px;
    line-height: 36px;
    font-weight: 500;    
    margin: 10px;
}
h6{
    font-size: 14px;
    margin: 10px;
    line-height: 17px;
    font-weight: 500;   
    text-align: justify; 
}
.line{
    border: 2px solid gray;
}
hr{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.google{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    color: white;
    background-color: #130F26;
    border: 1px solid white;  
    font-size: 16px;
    font-family: Montserrat;
    cursor: pointer;  
}
.img-google{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
h2{
    font-family: IBM+Plex+Sans;
    font-size: 24px;
    line-height: 33px;
    text-align: left;
    margin-left: 40px;
}
p{
    font-family: IBM+Plex+Sans;
    font-size: 17px;
    line-height: 24px;
    text-align: left;
    margin-left: 40px;
}
.boton-pequeno{
    cursor: pointer;
    width: 192px;
    height: 56px;
    background-color: #569b51;
    color: white;
    font-family: IBM+Plex+Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.4px;
    border-radius: 5px;    
    padding: 0px;    
    border: none;
    margin-left: 40px;
}

.boton-login{
    
    width: 100px;
    height: 56px;
    background-color: #569b51;
    color: white;
    font-family: IBM+Plex+Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.4px;
    border-radius: 5px;    
    padding: 0px;    
    border: none;
    cursor: pointer;
}

.box-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    width: 100%;
}
input[type="email"],input[type="text"],input[type="password"]{
    border: none;
    background-color: #130F26;
    border-bottom: 1px solid white;
    color: white;
    font-family: Montserrat;
    font-size: 16px;
    width: 100%;
}
input:-internal-autofill-selected{
    border: none;
    background-color: #130F26;
    border-bottom: 1px solid white;
    color: white;
    font-family: Montserrat;
    font-size: 16px;
    width: 100%;
}

.columna{
    display: flex;
    flex-direction: column;
}
.fila{
    display: flex;
    flex-direction: row;
}
.rojo{
    color: red;
}



@media (max-width:800px)  {
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;  
        align-items: center;
        height: 100%;
        width: 100%;
    }
    .tech{
        display: none;
    }
    .box-dcha{        
        display: flex;
        flex-direction: column;   
        align-items: center;   
        width: 100%;   
        margin: 0px; 
    }
    p{
        margin-left: 0px;
    }
}
